/*
    Document   : override
    Created on : <date>
    Author     : <author>
    Description:
        This is where any of your application specific styles should be included
*/

.sendIntoSpace{
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
} 

.demo-page-content-area {
    background: #ffffff;
    border-radius: 3px;
    border: 1px solid #d6dfe6;
    margin: 10px;
    min-height: 100%;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.demo-icon-sprite {
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 1;
    overflow: hidden;
    direction: ltr;
    text-align: center;
    -moz-box-sizing: content-box;
    box-sizing: content-box; }

.demo-icon-sprite:before {
    display: inline-block;
    -moz-box-sizing: content-box;
    box-sizing: content-box; }

.demo-icon-sprite:before {
    content: url("resource/oraclejet/images/demo-small-icons_454545_256x240.png"); }

.oj-enabled .demo-icon-sprite:before {
    content: url("resource/oraclejet/images/demo-small-icons_454545_256x240.png"); }

.oj-hover .demo-icon-sprite:before {
    content: url("resource/oraclejet/images/demo-small-icons_0572ce_256x240.png"); }

.oj-active .demo-icon-sprite:before {
    content: url("resource/oraclejet/images/demo-small-icons_ffffff_256x240.png");}


/* positioning */
.demo-icon-compass:before {
    margin: -32px 0 0 0;
}

.demo-icon-search:before {
    margin: -32px 0 0 -16px;
}

.demo-search-position{
    position: absolute;
    width: 16px;
    height: 16px;
    float: right;
    margin-top: 10px;
    margin-left: -24px;
}

.demo-employee-name{
    color: #333;
    font-size: 18px;
    font-weight: bold;
    padding-left: 90px;
    padding-bottom: 5px;
    margin-top: 10px;
}
.oj-panel-alt1 .oj-flex .demo-employee-name,
.oj-panel-alt1 .oj-flex .demo-employee-title,
.oj-panel-alt1 .oj-flex .demo-employee-dept {
    padding-left: 5px;
    white-space: nowrap;
    overflow: hidden;
}
.demo-employee-title{
    color: #333;
    font-size: 14px;
    padding-left: 90px;
    padding-bottom: 5px;
}

.demo-employee-name-person-detail{
    color: #333;
    font-size: 30px;
    margin-left: 10px;
    font-family: "Helvetica Neue", Helvetica, Ariel, sans-serif;
}

.demo-employee-name-person-detail-phone{
    color: #333;
    font-size: 24px;
    font-weight: lighter;
}

.demo-employee-title-and-dept-person-detail{
    color: #6d6d71;
    font-size: 18px;
    margin-left: 10px;
    height: 24px;
    font-family: "Helvetica Neue", Helvetica, Ariel, sans-serif;
}

.demo-employee-title-and-dept-person-detail-phone{
    color: #818181;
    font-size: 14px;
    height: 18px;
}

.demo-employee-tab-label{
    font-family: "Helvetica Neue", Helvetica, Ariel, sans-serif;
    font-size:18px;
}

.demo-employee-dept{
    color: #333;
    font-size: 12px;
    padding-left: 90px;
}

.demo-employee-photo{
    margin: 0px;
    position: relative;
}

.demo-employee-photo-person-detail{
    position: relative;
    margin: auto;
    width:108px;
    height:108px;
    /*border: 1px solid #d5dfe5;*/
    border-radius: 55px;
    background-color: #fff;
}

.demo-employee-tenure{
    color: #309fdb;
    font-size: 42px;
    text-align: center;
}

.demo-employee-comp-ratio{
    color: #309fdb;
    font-size: 42px;
    text-align: center;
}

.demo-employee-perf{
    color: #309fdb;
    font-size: 42px;
    text-align: center;
}

.demo-employee-tenure-label{
    text-align: center;
    white-space: nowrap;
}

.demo-employee-comp-ratio-label{
    text-align: center;
    white-space: nowrap;
}

.demo-employee-perf-label{
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

.demo-employee-email-icon{
    background-image: url(resource/oraclejet/images/email_icon_16@2x.png);
    height: 32px;
    width: 32px;
    margin-top: 20px;
    float: left;
}
.employee-facetime-24icon, .employee-email-24icon, .employee-chat-24icon {
    background: #2f9fdb url(resource/oraclejet/images/facetime_24_wht.png) no-repeat 13px 12px;
    height: 48px;
    width: 48px;
    margin-top: 10px;
    margin-left: 14px;
    float: left;
    cursor: pointer;
    border-radius: 24px;
}
.employee-facetime-24icon {
    margin-left: 0px;
}
.employee-email-24icon {
    background: #ef9543 url(resource/oraclejet/images/mail_24_wht.png) no-repeat 13px 12px;
}
.employee-chat-24icon {
    background: #3baf85 url(resource/oraclejet/images/chat_24_wht.png) no-repeat 13px 12px;
}
.demo-employee-org-icon{
    background-image: url(resource/oraclejet/images/org_icon_16@2x.png);
    height: 32px;
    width: 32px;
    margin-top: 20px;
    margin-left: 15px;
    float: left;
    cursor: pointer;
}

.demo-employee-func-email-icon{
    background-image: url(resource/oraclejet/images/func_email_16@2x.png);
    height: 32px;
    width: 32px;
    margin-top: 4px;
    margin-left: -32px;
}

.demo-employee-contact-icon{
    height: 32px;
    width: 32px;
    margin-left: -32px;
}

.demo-employee-phone-icon{
    background-image: url(resource/oraclejet/images/func_phone_16@2x.png);
}

.demo-employee-mobile-icon{
    background-image: url(resource/oraclejet/images/func_mobilePhone_16@2x.png);
}

.demo-employee-twitter-icon{
    background-image: url(resource/oraclejet/images/func_twitter_16@2x.png);
}

.demo-employee-facebook-icon{
    background-image: url(resource/oraclejet/images/func_facebook_16@2x.png);
}

.demo-employee-linkedin-icon{
    background-image: url(resource/oraclejet/images/func_linkedin_16_2x.png);
}

.demo-employee-contact-label{
    margin-left: 10px;    
    margin-top: 5px;
    color: #045fab;
    font-family: "Helvetica Neue", Helvetica, Ariel, sans-serif;
    font-size: 16px;
    /*display: table-cell;*/
    vertical-align:middle;
}

.demo-employee-phone-label{
    top: 8px;
}

.demo-employee-mobile-label{
    top: 41px;
}

.demo-employee-email-label{
    top: 75px;
}

.demo-employee-twitter-label{
    top: 8px;
}

.demo-employee-facebook-label{
    top: 41px;
}

.demo-employee-linkedin-label{
    top: 75px;
}

.demo-circular {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
}

.demo-circular-person-detail {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    left: -2px;
}

.demo-breadcrumb{
    min-height: 12px;
    background: #ffffff;
    border-radius: 3px;
    border: 1px solid #d6dfe6;
    margin: 10px 0px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 3px;
    padding-top: 3px;
}
/*===========CODE MODIFIED FOR TABS STARTS============*/
#breadcrumb_section, .justifyCenter {
    max-width: 1440px;
    margin: 0px auto;
    padding: 10px;
}
.altaspace {
    padding-right: 0px;
    padding-left: 0px;
}
.altaportspace {
    margin-top: 10px;
}
/*div.oj-cols-nopad * {
        outline: none!important;
}*/
.titleAnchor {
    display: block;
    overflow: hidden;
    padding: 0px;
}
.altaspace .oj-panel {
    border-bottom-width: 0px;
    border-radius: 3px 3px 0px 0px;
    height: 164px;
}
.altaportspace .oj-panel {
    border-right-width: 0px;
    border-radius: 3px 0px 0px 3px;
    height: 164px;
    padding: 10px;
    float: left;
}
.altaspace .borderArrow {
    border: 1px solid #d6dfe6;
    border-top-width: 0px;
    border-radius: 0px 0px 3px 3px;
    background-color: #f0f0f0;
    height: 20px;
}
.altaportspace .borderArrow {
    border: 1px solid #d6dfe6;
    border-left-width: 0px;
    background-color: #f0f0f0;
    min-width: 20px;
    height: 162px;
    border-radius: 0px 3px 3px 0px;
    float: right;
}
.altaspace:hover .borderArrow, .altaportspace:hover .borderArrow {
    background-color: #f7f8f9;
}
.altaspace:hover .borderArrow span, .altaportspace:hover .borderArrow div {
    color: #0572ce;
    text-decoration: none;
}
div.oj-cols-nopad .altaspace.selected .oj-panel {
    border: 1px solid #0572ce;
    border-bottom-width: 0px;
}
div.oj-cols-nopad .altaportspace.selected .oj-panel {
    border: 1px solid #0572ce;
    border-right-width: 0px;
}
div.oj-cols-nopad .altaspace.selected .borderArrow {
    border: 1px solid #0572ce;
    border-top-width: 0px;
    background-color: #0572ce;
}
div.oj-cols-nopad .altaportspace.selected .borderArrow {
    border: 1px solid #0572ce;
    border-left-width: 0px;
    background-color: #0572ce;
}
div.oj-cols-nopad .altaspace.selected .borderArrow span, div.oj-cols-nopad .altaportspace.selected .borderArrow div {
    color: #ffffff;
}
.altaspace div.borderArrow .arrowfwk {
    float: left;
    padding-left: 50%;
}
.altaportspace div.borderArrow .arrowfwk {
    float:right;
    height: 20px;
    margin-top: 70px;
    margin-right: 4px;
}
.titleAnchor div.altaspace div.oj-panel span.tiletitle {
    color: #454545;
    font-family: "Helvetica Neue", Helvetica, Ariel, sans-serif;
    font-size: 18px;
    font-weight: normal;
}
.titleAnchor:hover div.altaspace div.oj-panel span.tiletitle,
div.altaspace.selected div.oj-panel span.tiletitle {
    display: inline-block;
}
.tileInfo div {
    text-align: center;
    font-size: 14px;
}
.tileInfo div.tileValue {
    color: #4a85c5;
    font-size: 40px;
    font-weight: bold;
    /*padding: 2% 0px;*/
}




.tileInfoAlign {
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    margin-top: -62px;
    -webkit-margin-before: -82px;
}

@media print and (orientation: landscape), screen and (min-width: 768px) and (max-width: 1023px) {
    .tileInfoAlign {
        align-items: flex-end; 
        justify-content: center; 
        flex-direction: column;
        margin-top: -62px;
        -webkit-margin-before: -75px;       
    }


}
@media print and (orientation: landscape), screen and (min-width: 1024px) and (max-width: 1280px) {
    .tileInfoAlign {
        align-items: flex-end; 
        justify-content: center; 
        flex-direction: column;
        margin-top: -62px;
        -webkit-margin-before: -79px;        
    }

    .tileInfo div.tileValue {
        color: #4a85c5;
        font-size: 40px;
        font-weight: bold;
        /*padding: 2% 0px;*/
    }

}

.tileInfo div.tileLabel {

}

/*.oj-navigationlist-horizontal .oj-navigationlist-element {
    float: right;
}*/
/*.oj-navigationlist-horizontal .oj-navigationlist-item {
    flex: none;
}*/

div#ojAppNav2 ul.oj-navigationlist-element {
    float: right;
}
.oj-panel.oj-panel-team {
    background-color: #fbfbfb;
    border-color: #d6dfe6;
    color: #6d6e70;
}
.oj-panel-mgrsection {
    background-color: #cfe7fb;
    border-color: #d6dfe6;
    color: #6d6e70;
    margin: 5px 0px 5px 0px;
}
.oj-panel-mgrsection .demo-circular {
    margin: 10px 20px;
    width: 156px;
    height: 156px;
    border-radius: 78px;
}
.oj-panel.oj-panel-team:hover {
    background-color: #d6dfe6;
    border-color: #d6dfe6;
    color: #6d6e70;
}
.oj-panel.oj-panel-team .demo-circular {
    border-radius: 53px;
    height: 106px;
    width: 106px;
    border: 1px solid #cccccc;
}
.oj-panel.oj-panel-team .demo-employee-name,
.oj-panel.oj-panel-team .demo-employee-title,
.oj-panel.oj-panel-team .demo-employee-dept {
    margin: 7px 0px;
    padding-left: 0px;
}
.oj-panel-mgrsection .demo-employee-name,
.oj-panel-mgrsection .demo-employee-title,
.oj-panel-mgrsection .demo-employee-dept {
    margin: 30px 0px 0px 0px;
}
#templateList.phonelayout #MyTeam,
#templateList.phonelayout #AboutMe,
#templateList.phonelayout #MyNotifications,
#templateList.phonelayout #AverageCompensation,
#templateList.phonelayout #AveragePerformance,
#templateList.phonelayout #CompensationRatio,
#templateList.phonelayout #MyTeamActivities,
#templateList.phonelayout #AverageRatings,
#templateList.phonelayout #MyActivities {
    margin-bottom: 10px;
    min-height: 225px;
    box-shadow: none;
}
#templateList #MyTeam,
#templateList #AboutMe,
#templateList #MyNotifications,
#templateList #AverageCompensation,
#templateList #AveragePerformance,
#templateList #CompensationRatio,
#templateList #MyTeamActivities,
#templateList #AverageRatings,
#templateList #MyActivities{
    box-shadow: 1px 2px 2px rgba(69,69,69,.55);
}
#templateList.phonelayout #MyNotifications .notifynews {
    float: left;
    margin-top: 27px;
}
#templateList.phonelayout #AveragePerformance .notifytitle {
    margin-bottom: 10px;
}
#templateList #MyTeam {
    background: url("images/dashboardpeople.png") no-repeat scroll 0 0 / 100% auto #313749;
    opacity: 0.95;
}
#templateList.phonelayout #MyTeam {
    background-image: none;
}
#templateList #AboutMe {
    background-color: #488500;
    text-align: center;
}
#templateList #AveragePerformance {
    background-color: #ffffff;
    text-align: center;
}

#templateList #MyActivities {
    background-color: #ffffff;
}
#templateList #MyNotifications {
    background-color: #ffffff;
}
#templateList #MyNotifications2 {
    background-color: #ffffff;
}
#templateList #AverageCompensation {
    background-color: #d5e7c7;
}
#templateList #CompensationRatio {
    background-color: #3a76cb;
}
#templateList #MyTeamActivities {
    background-color: #413557;
}
#templateList #AverageRatings {
    background-color: #e5e8ea;
}
.rate-icon {
    line-height: 90px;
}
.rate-icon img {
    margin-top: 50px;
    margin-left: 15px;
}
#MyTeamActivities div, .avgrate-container div {
    text-align: center;
    line-height: 35px;
    margin-top: 5px;
}
#MyTeamActivities div div {
    font-size: 24px;
}
#MyTeamActivities div div.meeting-color {
    color: #47BDEF;
    font-size: 42px;
    font-weight: lighter;
    font-family: helvetica;
}
#MyTeamActivities div div.training-color {
    color: #6594ce;
    font-size: 42px;
    font-weight: lighter;
    font-family: helvetica;
}
#MyTeamActivities div div.event-color, div.performance-color {
    color: #009862;
    font-size: 42px;
    font-weight: lighter;
    font-family: helvetica;
}
#MyTeamActivities div div.timeoff-color, .potential-color {
    color: #b57800;
    font-size: 42px;
    font-weight: lighter;
    font-family: helvetica;
}
#templateList #MyTeam .dastopmargin, .aboutmetitle, .notifytitle {
    font-size: 18px;
    margin-top: 263px;
    padding-left: 20px;
    border: none;
    color: #ffffff;
    font-weight: lighter;
    font-family: helvetica;
}
/* reduce the top margin when in a masonry layout tile so that the 
   tile content does not overflow the bottom of the tile */
#templateList #MyTeam .dastopmargin {
    margin-top: 246px;
}
.aboutmetitle, .notifytitle {
    margin-top: 15px;
    color: #ffffff;
    text-align: left;
}
#MyTeamActivities div.notifytitle {
    text-align: left;
}
.notifytitle {
    color: #5b6b70;
}
#CompensationRatio .notifytitle {
    color: #ffffff;
    margin-bottom: 10px;
}
#AverageCompensation .notifytitle {
    color: #333333;
    margin-bottom: 10px;
}
#MyTeamActivities .notifytitle,
#MyTeamActivities div {
    color: #ffffff;
}
.alignright {
    text-align: right;
    overflow: hidden;
}
.barstyle {
    background-color: #E2EED9;
    height: 19px;
    padding: 0px;
    margin-top: 5px;
}
.barstyle span {
    height: 19px;
    background-color: #87BE66;
    float: left;
    opacity: 10;
}
.fontbold {
    font-weight: bold;
}
.compheight {
    line-height: 27px;
    padding: 0px 10px;
}
#templateList #MyTeam * {
    border: none;
}
.mygrp {
    text-align: center;
    font-size: 14px;
    margin: 40px 10px 0px 0px;
    color: #ffffff;
}
#MyActivities .mygrp {
    color: #333333;
}
.phonelayout .mygrp {
    color: #ffffff;
    margin-top: 40px;
}
.grpicontxt, .diricontxt, .appointmenticon, .taskicon {
    background: url("images/qual_mygroup_70.png") no-repeat 16px 0px;
    height: 70px;
    width: 120px;
    margin: 0px auto;
}
.diricontxt {
    background: url("images/qual_myorg_70.png") no-repeat 50px 0px ;
}
.appointmenticon {
    background: url("images/qual_appointments_48_full.png") no-repeat 22px 0px;
    margin-bottom: 0px;
}
.taskicon {
    background: url("images/qual_tasks_48_full.png") no-repeat 22px 0px;
    margin-bottom: 0px;
}
.grpicontxt span, .diricontxt span, .appointmenticon span, .taskicon span {
    float: left;
    background: url("images/background_blue.png") no-repeat;

    font-size: 24px;
    color: #ffffff;

    padding: 0px 10px 12px 10px;
    margin: -19px 0px 0px 86px;
}
.grpicontxt span {
    float: left;
    background: url("images/background_blue.png") no-repeat ;

    font-size: 24px;
    color: #ffffff;

    padding: 0px 0px 12px 20px;
    margin: -19px 4px 0px 56px;
}
.appointmenticon span, .taskicon span {
    margin: -17px 0px 0px 47px;
}
 #templateList #MyTeam .diricontxt span {
   /*   border: 2px solid #ffffff; */
   padding: 8px 16px 4px 9px;

}
#templateList #MyTeam .grpicontxt span {
    /*   border: 2px solid #ffffff; */
    padding: 8px 16px 4px 9px;


}
#templateList #MyTeam .tcrow {
    background: url("images/myteam_watermark@2x.png") no-repeat scroll 25px 17px / 75% auto transparent;
}
#templateList.phonelayout #MyTeam .tcrow {
    background: url("images/myteam_watermark.png") no-repeat scroll 100px 17px / 50% auto transparent;
    margin-top: 50px;
    margin-bottom: 30px;
}
#templateList #MyTeam .tcrow .theadcount, #templateList #MyTeam .tcrow .tnewhire, #templateList #MyTeam .tcrow .ttermin, .tcrow .theadcount, .tcrow .tnewhire, .tcrow .ttermin {
    line-height: 45px;
    overflow: hidden;
    border-bottom: 1px solid #525868;
}
#templateList #MyTeam .tcrow .ttermin {
    border-bottom: none;
}
#templateList #MyNotifications .tcrow .theadcount, #templateList #MyNotifications .tcrow .tnewhire, #templateList #MyNotifications .tcrow .ttermin {
    border-bottom: 1px solid #d5dfe5;
}
#templateList #MyNotifications2 .tcrow .theadcount, #templateList #MyNotifications2 .tcrow .tnewhire, #templateList #MyNotifications2 .tcrow .ttermin {
    border-bottom: 1px solid #d5dfe5;
}
#templateList #CompensationRatio .tcrow .theadcount, #templateList #CompensationRatio .tcrow .tnewhire, #templateList #CompensationRatio .tcrow .ttermin {
    border-bottom: 1px solid #ffffff;
}
#MyNotifications .tcrow .theadcount {
    margin-top: 10px;
}
#MyNotifications .tcrow .ttermin {
    border-bottom: none;
}
#MyNotifications2 .tcrow .theadcount {
    margin-top: 10px;
}
#MyNotifications2 .tcrow .ttermin {
    border-bottom: none;
}
.tcrow .theadcount span, .tcrow .tnewhire span, .tcrow .ttermin span {
    float: left;
    margin-left: 10px;
    font-size: 14px;
    color: #ffffff;
}
#MyNotifications .tcrow .theadcount span, #MyNotifications .tcrow .tnewhire span, #MyNotifications .tcrow .ttermin span {
    color: #333333;
}
#MyNotifications2 .tcrow .theadcount span, #MyNotifications .tcrow .tnewhire span, #MyNotifications2 .tcrow .ttermin span {
    color: #333333;
}
.tcrow .theadcount label, .tcrow .tnewhire label, .tcrow .ttermin label {
    float: right;
    color: #ffffff;
    font-size: 26px;
    font-weight: lighter;
    margin-right: 10px;
}
.tcrow .tnewhire label {
    color: #ffffff;
}
.tcrow .ttermin label {
    color: #ffffff;
}
#MyNotifications .tcrow .theadcount label {
    color: #6aa400;
}
#MyNotifications .tcrow .tnewhire label {
    color: #0572CE;
}
#MyNotifications .tcrow .ttermin label {
    color: #ff0000;
}
#MyNotifications2 .tcrow .theadcount label {
    color: #6aa400;
}
#MyNotifications2 .tcrow .tnewhire label {
    color: #0572CE;
}
#MyNotifications2 .tcrow .ttermin label {
    color: #ff0000;
}
.curquater, .notifynews, .notifycompensation {
    color: #B2BBBF;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    background-color: #434a5e;
    line-height: 38px;
    margin-top: 12px;
}
.notifynews {
    margin-top: 2px;
    color: #ffffff;
    background-color: #414557;
}
.notifycompensation {
    margin-top: 5px;
    color: #333333;
    background-color: #abd193;
}
.dash-photo-circular {
    border-radius: 83px;
    height: 156px;
    width: 156px;
    border: 5px solid #ffffff;
}
#MyNotifications .tcrow .theadcount span.approveicon, #MyNotifications .tcrow .tnewhire span.waitingicon, #MyNotifications .tcrow .ttermin span.rejectedicon {
    margin-left: 15px;
}
.approveicon, .waitingicon, .rejectedicon {
    background-color: #76B417;
    width: 10px;
    height: 10px;
    float: left;
    margin-top: 19px;
    border-radius: 5px;
}          
.waitingicon, .rejectedicon {
    background-color: #0572CE;
}
.rejectedicon {
    background-color: #ff0000;
}
li.peoplephone {
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 0px;
}
li.peoplephone div div.demo-employee-name {
    color: #000000;
    font-weight: normal;
    font-size: 18px;
    padding-left: 20px;
    overflow: hidden;
    white-space: nowrap;
}
li.peoplephone div div.demo-employee-title {
    padding-left: 20px;
    white-space: nowrap;
    overflow: hidden;
}
li.peoplephone div div img.demo-circular {
    border-radius: 20px;
    height: 40px;
    width: 40px;
}
li.peoplephone div div a.demo-employee-email-icon,
li.peoplephone div div a.demo-employee-org-icon {
    margin-top: 10px;
}
li.peoplephone div div a.demo-employee-org-icon {
    margin-left: 10px;
}
li.peoplephone div div a.people-phone-mobile-icon {
    background: url(images/mobileicon.png) no-repeat 8px 8px;
    height: 32px;
    width: 32px;
    margin-top: 10px;
    margin-left: -10px;
    float: left;
    cursor: pointer;
    background-color: #81BB5F;
    border-radius: 16px;
}

.demo-appheader-classic .demo-appheader-logo {
    margin-top: 4px;
}
#categoryDetailsArea #managerInfo {
    padding-left: 10px;
}
.textbold {
    font-weight: bold;
}
/*===========CODE MODIFIED FOR TABS ENDS============*/

/* masonry layout */
.justifyCenterMasonryLayout {
    text-align: center;
}

.justifyCenter.justifyCenterMasonryLayout > .oj-masonrylayout {
    display: inline-block;
    /* width = 1 * (224 + 8 + 8) = 240 */
    width: 240px;
}

/* min-width = 480 + 40 [total padding of ancestor elements] = 520 */
@media (min-width: 520px) {
    .justifyCenter.justifyCenterMasonryLayout > .oj-masonrylayout {
        /* width = 2 * (224 + 8 + 8) = 480 */
        width: 480px;
    }
}

/* min-width = 720 + 40 [total padding of ancestor elements] = 760 */
@media (min-width: 760px) {
    .justifyCenter.justifyCenterMasonryLayout > .oj-masonrylayout {
        /* width = 3 * (224 + 8 + 8) = 720 */
        width: 720px;
    }
}

/* min-width = 960 + 40 [total padding of ancestor elements] = 1000 */
@media (min-width: 1000px) {
    .justifyCenter.justifyCenterMasonryLayout > .oj-masonrylayout {
        /* width = 4 * (224 + 8 + 8) = 960 */
        width: 960px;
    }
}

/* min-width = 1200 + 40 [total padding of ancestor elements] = 1240 */
@media (min-width: 1240px) {
    .justifyCenter.justifyCenterMasonryLayout > .oj-masonrylayout {
        /* width = 5 * (224 + 8 + 8) = 1200 */
        width: 1200px;
    }
}

/* masonry tile */
.oj-masonrylayout-tile-transition-move-to {
    transition: top 0.5s, left 0.5s, right 0.5s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out; }

.oj-masonrylayout-tile-transition-move-to-fast {
    transition: top 0.25s, left 0.25s, right 0.25s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out; }

.oj-masonrylayout-tile-transition-resize-to {
    transition: width 0.5s, height 0.5s, top 0.5s, left 0.5s, right 0.5s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out; }

.oj-masonrylayout-tile-transition-hide-from {
    opacity: 1; }

.oj-masonrylayout-tile-transition-hide-to {
    transition: opacity 0.5s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    opacity: 0; }

.oj-masonrylayout-tile-transition-show-from {
    opacity: 0; }

.oj-masonrylayout-tile-transition-show-to {
    transition: opacity 0.5s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    opacity: 1; }

.oj-masonrylayout-tile-1x1, .oj-masonrylayout-tile-1x2, .oj-masonrylayout-tile-1x3, .oj-masonrylayout-tile-2x1, .oj-masonrylayout-tile-2x2, .oj-masonrylayout-tile-2x3, .oj-masonrylayout-tile-3x1, .oj-masonrylayout-tile-3x2 {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 8px;
    position: absolute; }

.oj-masonrylayout-tile-1x1.oj-drop, .oj-masonrylayout-tile-1x2.oj-drop, .oj-masonrylayout-tile-1x3.oj-drop, .oj-masonrylayout-tile-2x1.oj-drop, .oj-masonrylayout-tile-2x2.oj-drop, .oj-masonrylayout-tile-2x3.oj-drop, .oj-masonrylayout-tile-3x1.oj-drop, .oj-masonrylayout-tile-3x2.oj-drop {
    background-color: #d9f4fa;
    border: 1px solid #c3eaf3;
    opacity: .75; }

.oj-masonrylayout-tile-1x1.oj-drag, .oj-masonrylayout-tile-1x2.oj-drag, .oj-masonrylayout-tile-1x3.oj-drag, .oj-masonrylayout-tile-2x1.oj-drag, .oj-masonrylayout-tile-2x2.oj-drag, .oj-masonrylayout-tile-2x3.oj-drag, .oj-masonrylayout-tile-3x1.oj-drag, .oj-masonrylayout-tile-3x2.oj-drag {
    opacity: .75; }

.oj-masonrylayout-tile-1x1 {
    /*width: 240px;
    height: 240px;*/
    width: 224px;
    height: 224px;
}

.oj-masonrylayout-tile-1x2 {
    width: 240px;
    height: 503px;}

.oj-masonrylayout-tile-1x3 {
    width: 240px;
    height: 765px;}

.oj-masonrylayout-tile-2x1 {
    /*width: 503px;
    height: 240px;*/
    width: 471px;
    height: 224px;
}

.oj-masonrylayout-tile-2x2 {
    /*width: 503px;
    height: 503px;*/
    width: 471px;
    height: 471px;
}

.oj-masonrylayout-tile-2x3 {
    width: 503px;
    height: 765px;}

.oj-masonrylayout-tile-3x1 {
    width: 765px;
    height: 240px; }

.oj-masonrylayout-tile-3x2 {
    width: 765px;
    height: 503px; }

/* AppNav Icons */
.demo-navi-dashboard-icon{
    background-image: url(images/naviBarFaces/navi_dashboard_24_ena.png);
    height: 24px;
    width: 24px;
}

.demo-navi-dashboard-icon:hover{
    background-image: url(images/naviBarFaces/navi_dashboard_24_hov.png);
    height: 24px;
    width: 24px;
}

.demo-navi-people-icon{
    background-image: url(images/naviBarFaces/navi_people_24_dis.png);
    height: 24px;
    width: 24px;
}

/* This is disabled for now, so we do not provide hover */
/*.demo-navi-people-icon:hover{
    background-image: url(images/naviBarFaces/navi_people_24_hov.png);
    height: 24px;
    width: 24px;
}*/

.demo-navi-person-icon{
    background-image: url(images/naviBarFaces/navi_person_24_ena.png);
    height: 24px;
    width: 24px;
}

.demo-navi-person-icon:hover{
    background-image: url(images/naviBarFaces/navi_person_24_hov.png);
    height: 24px;
    width: 24px;
}


/* Nav List Phone Layout Begin */

#infoCategories .oj-navigationlist-divider{
    display: none; /* dont want divider separator */
}

#infoCategories .oj-navigationlist-item.oj-selected{
    background-color: transparent; /* dont want background color upon selection */
}

#infoCategories .oj-navigationlist-item{
    padding: 0px; /* reduce gap between list items closer to UI spec (4px min) */
}

#infoCategories .oj-navigationlist-item .oj-navigationlist-item-label {
    color: #000000;
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Ariel, sans-serif;
}

#infoCategories .oj-navigationlist-item.oj-selected .oj-navigationlist-item-label {
    color: #045fab;
}

.demo-navi-icon-phone{
    height: 32px;
    width: 32px;
}

.demo-navi-Summary-icon{
    background-image: url(images/navi_phone_summary_32_ena.png);
}

.demo-navi-Summary-icon:hover{
    background-image: url(images/navi_phone_summary_32_hov.png);
}

.demo-navi-Team-icon{
    background-image: url(images/navi_phone_team_32_ena.png);
}

.demo-navi-Team-icon:hover{
    background-image: url(images/navi_phone_team_32_hov.png);
}

.demo-navi-Performance-icon{
    background-image: url(images/navi_phone_perf_32_ena.png);
}

.demo-navi-Performance-icon:hover{
    background-image: url(images/navi_phone_perf_32_hov.png);
}

.demo-navi-Compensation-icon{
    background-image: url(images/navi_phone_comp_32_ena.png);
}

.demo-navi-Compensation-icon:hover{
    background-image: url(images/navi_phone_comp_32_hov.png);
}

/* TODO: PU: what is the best way to get the following icons for selected state ?.
  perhaps add a 'selected' field to personViewModel.infoTiles, keep it updated
  upon selection change, compute class based on that ? */

/*.demo-navi-Team-icon:selected{
    background-image: url(images/navi_phone_team_32_sel.png);
}

.demo-navi-Summary-icon:selected{
    background-image: url(images/navi_phone_summary_32_sel.png);
}

.demo-navi-Performance-icon:selected{
    background-image: url(images/navi_phone_perf_32_sel.png);
}

.demo-navi-Compensation-icon:selected{
    background-image: url(images/navi_phone_comp_32_sel.png);
}*/

/* Nav List Phone Layout End */

.demo-oracle-icon {
    width: 137px;
    height: 18px;
}
.demo-oracle-icon:before {
    content: url("images/oracle_logo.svg");
    display: inline;
}
/* Adds padding between logo and application name */
html:not([dir="rtl"]) .demo-oracle-icon {
    padding-right: 4px;
}
html[dir="rtl"] .demo-oracle-icon {
    padding-left: 4px;
}

.demo-avatar-icon {
    width:24px;
    height:24px;
}
.demo-avatar-icon:before {
    content:url("images/avatar_24px.png")
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .demo-avatar-icon:before{
        content:url("images/avatar_24px_2x.png");
        -webkit-transform:translate(-25%, -25%) scale(0.5);transform:translate(-25%, -25%) scale(0.5)
    }
}

/*Temporary fix for bug */
#listviewcard > li[role='presentation'] {
    width: 100%;
}