@charset "UTF-8";
/**ADFFaces_Skin_File / DO NOT REMOVE**/
@namespace af "http://xmlns.oracle.com/adf/faces/rich";
@namespace dvt "http://xmlns.oracle.com/dss/adf/faces";

h6
{
font-family: "Open Sans",sans-serif;


}


div

{
font-family: "Open Sans",sans-serif;

}
 span{


    font-size:14px;
}
a {
    text-shadow: none;
    color: #337ab7;
    font-size:14px;
}
a:hover {
    cursor: pointer;
    color: #23527c;
}




af|button {
    background-color:#32c5d2;
    border-color: #32c5d2; 
    margin-left:3px;
    margin-top:12px;
  
 
}

af|button::link {
    
background-color:#32c5d2; 
height:32px;
min-width:70px;
max-width:170px;
color:#fff;
line-height:1.44;
display: inline-block;
margin-bottom: 0px;

font-weight: 400;
text-align: center;
vertical-align: middle;
cursor: pointer;
border: 1px solid transparent;
white-space: nowrap;
padding: 6px 12px;
font-size: 14px;




}
af|button :hover

{
color:#fff;
}
af|button :focus

{
color:#fff;
}
/*.folder_icon {
    content: "\f07b";
    
  
    
}
.addAnother
{
  

    width: 121px; 
    height: 34px; 
}*/


.pcontainer
{
font-family:"Open Sans",sans-serif;


}



af|inputText::content {

    width:250px;
    height:35px;
    padding :6px 12px;
    background-color:#fff;
    border:1px solid #c2cad8;
    outline:0 !important;
    box-shadow:none !important ;
    font-size: 14px;
  
   color: #555;
   display: block;
   font-family:"Open Sans",sans-serif;
  
}

af|inputText::label {
    color: #333;
    font-family:"Open Sans",sans-serif;
    font-size: 14px;
    font-weight: 400;
}

af|inputDate::content {

    width:250px;
    height:35px;
     background-color:#fff;
    border:1px solid #c2cad8;
    outline:0 !important;
    box-shadow:none !important ;
    font-size: 14px;
     color: #555;
   font-family:"Open Sans",sans-serif;
  
}

af|inputDate::label {
    color: #333;
    font-family:"Open Sans",sans-serif;
    font-size: 14px;
    font-weight: 400;
}


af|selectOneChoice::content {
    height: 34px; 
        width:250px;
    padding :6px 12px;
    background-color:#fff;
    border:1px solid #c2cad8;
    outline:0 !important;
    box-shadow:none !important ;
    font-size: 14px;
   line-height: 1.42857;
   color: #555;
   display: block;
   font-family:"Open Sans",sans-serif;
 margin-top:10px;
}
af|selectOneChoice::label {
    color: #333;
    font-family:"Open Sans",sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-top:10px;
}

af|selectBooleanCheckbox::label {
    color: #333; 
    font-family:"Open Sans",sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.componenttop
{

  margin-top:10px;
}
af|table
{
border: 1px solid  #e7ecf1;
}
af|table af|column::column-header-cell 
{   
height:35px;
color:#333; 
text-align: left;
font-size: 10px;
 font-family:"Open Sans",sans-serif; 
font-weight: bold;
background-image: none;
background-color:#fff;
/*background-color: #32c5d2;*/
vertical-align: middle;
border-left: 1px  solid #e7ecf1;
}


/*af|table::data-row:selected:focused af|column::data-cell
{  
background-color: #32c5d2; 
line-height: 1.42857;

}*/


af|table::data-row:selected:focused af|column::banded-data-cell {
background-color: #32c5d2;   
 }
 
 
 af|table::data-row:hover af|column::data-cell
{ 
background-color: #ceedef; 
 }
af|table::data-row:hover af|column::banded-data-cell { 
background-color: #ceedef; 
}
af|table::data-table-VH-lines af|column::data-cell{
   height:35px;

    font-size:11px;
     padding-right:0px;
 
}
af|table::navbar {
    background-color:#337ab7; 
}

af|table::navbar-page-link {
    color: white; 
}

af|table::navbar-current-page {
    background-color: #fff; 
}

af|table::navbar-page-input {
    background-color: #fff; 
}

af|table::navbar-page-input-label {
    color: white; 
    font-weight: bold; 
    }

af|table::navbar-row-range-text {
    color: white; 
    font-weight: bold; 
}
.m1 
{


position:relative;

}

.m2
{

position:absolute;
left:120px;
bottom:0px;
}
.m21
{

position:absolute;
left:90px;
bottom:-20px;
}
.m3
{

font-size:30px;
/*margin-left:15px;*/
width:60px;
text-align: center;
}

.m4
{
color: #c6c6c6;
font-size:14px;

}


.msg-error-details
    {
   color:#000;
    list-style: square ;
   text-align: left;
    }
    .msg-header
    {
    font-size:15px !important;
    font-weight: 500;
    margin-bottom: 0px;
    }
    .msg-error-details li
    {
    margin-left:10%;
    }
     .msg-error-details li span
     { position: relative;right:0px;color:red !important;font-size: 17px; }
     .msg-details
     {
     list-style: none;
     }
     .msg-details li span
    {
   position: relative;right:20px;color:#000;font-size: 25px;font-weight: 500;
    }

.avatar_txt
        {
       
        font-weight: 400;
     color: White;
       font-size: 20px;

       
        }
          .avatar
        {
        
        width:46px;
        height:46px;
        border-radius:50% !important ;
        
        
        background-color: orange;
         margin-left:25px !important;
      
         text-align: center !important;
   line-height: 13px; 
           
        
     
        }


.searchboxu input
{
width:80vw;

height:45px;

margin-left: 0px !important;
border-left: 1px transparent    solid;

}

.searchboxu input:focus
{

padding-bottom: 0px;
border-color:#42c6ff  ;
border-bottom: 4px Red solid;



}

.searchbox af|inputText::content {

    
    height:55px;
   
    background-color:#fff;
    border:1px solid #c2cad8;
    outline:0 !important;
   
    font-size: 16px;
  
   color: #555;
 
   font-family:"Open Sans",sans-serif;
   margin-bottom: 20px;
   margin-left: 0px !important;
   border-radius: 10px !important ;
   

   }

.searchbox af|inputText::label {
    color: #333;
    font-family:"Open Sans",sans-serif;
    font-size: 14px;
    font-weight: 400;
   width: 0px !important;
   height:0px !important;
  
   margin-left: 0px !important;
}



.searchbox af|inputText::content:focus {
 box-shadow:1px 1px 5px 1px #0094e7 !important ;
   
    
}

.fade
        {
       
       
 
 animation: fadex 1s;
        }
.serach-eff
{



}

@keyframes fadex {
  0% {
    opacity: 1;
  }
  100% {
   opacity: 0;
   
  }
}

.txt-area-header
{
margin-top:20px !important;
color:#636363;
font-size:22px;
margin-left:5px;
}

.txt-details
{
color:#949494;
font-size: 14px;
}

.txt-details::before
{
content: 'ddd' !important;
}


.searchbox2 af|inputText {

text-align: left !important;

}

.searchbox2 af|inputText::content {



margin-left:-11.25vw !important;
/*border-right:1px transparent solid;*/

}

.score-details
{
font-family: "Open Sans",sans-serif !important;
font-size: 23px;color:#0094e7;
font-weight: 100;
}






